[submodule "target/platform/ndk"]
	path = target/platform/ndk
	url = https://github.com/chaquo/android-platform-ndk.git
	branch = crystax-r10
[submodule "target/platform/bionic"]
	path = target/platform/bionic
	url = https://github.com/crystax/android-platform-bionic.git
	branch = crystax-r10
[submodule "target/platform/system/core"]
	path = target/platform/system/core
	url = https://github.com/crystax/android-platform-system-core.git
	branch = crystax-r10
[submodule "target/toolchain/llvm-3.6/compiler-rt"]
	path = target/toolchain/llvm-3.6/compiler-rt
	url = https://github.com/crystax/android-toolchain-compiler-rt-3-6.git
	branch = crystax-r10
[submodule "target/vendor/dlmalloc"]
	path = target/vendor/dlmalloc
	url = https://github.com/crystax/android-vendor-dlmalloc.git
	branch = crystax-r10
[submodule "target/vendor/freebsd"]
	path = target/vendor/freebsd
	url = https://github.com/crystax/android-vendor-freebsd.git
	branch = crystax-r10
[submodule "target/vendor/libkqueue"]
	path = target/vendor/libkqueue
	url = https://github.com/crystax/android-vendor-libkqueue.git
	branch = crystax-r10
[submodule "target/vendor/libpwq"]
	path = target/vendor/libpwq
	url = https://github.com/crystax/android-vendor-libpwq.git
	branch = crystax-r10
[submodule "target/python"]
	path = target/python
	url = https://github.com/python/cpython.git
	branch = 3.6
[submodule "target/openssl"]
	path = target/openssl
	url = https://github.com/openssl/openssl.git
